/* My stylesheet! */

body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
}

header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.nav_links{
    display: flex;
    flex-flow: column nowrap; 
    align-items: flex-start;
    justify-content: center;
}

.nav_item a:visited{
    color: blue;
    /* ????? */
}

.nav_item a:visited:hover{
    color: #50C7C7;
}

.card > header {
    background: #288080;
    border: 2px solid #45ADAD;
    padding: 20px 0px; 
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.pricing{
    display: flex;
    flex-flow: row wrap; 
    align-items: center; 
    justify-content: center; 
}

.card{
    flex-basis: 450px;
    align-self: center;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

 #image1, #image2, #image3, #image4, #image5{
    border: 10px solid #50c7c7;
    margin: 10px; 
    width: 300px;
} 

 @keyframes logo{
    from {
        opacity: 0; 
        width: 50px
    }

    to {
        opacity: 1; 
        width: 425px;
    }
} 

/* 850px or larger view */
@media only screen and (min-width: 850px){
    header, .nav_links{
        flex-flow: row;
        justify-content: space-between;
    }

    header:first {
        
    }
}